/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500;600;700;900&display=swap');
@import 'nullstyle';

:root {
	--aspect_ratio: 1;
}
$template_width: 2000;
@function relate($pc_size, $mob_size, $with_aratio) {
	$add_size: 0;
	@if $with_aratio {
		$ratio: var(--aspect_ratio);
		$add_size: calc(#{$pc_size} * #{$ratio} - #{$mob_size});
	} 
	@else {
		$add_size: calc(#{$pc_size} - #{$mob_size});
	}

	$template_width: $template_width - 320;
	@return calc(#{$mob_size + px} + #{$add_size} * ((100vw - 320px) / #{$template_width}));
}


/* General */
html, body, section {
	position: relative;
	z-index: -2;
	font-family: 'Poppins', 'Roboto', sans-serif;
}
body {
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
}
.wrapper {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
.slick-list {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.slick-track {
	display: flex;
	min-width: 100%;
	min-height: 100%;
}

.background {
	background: #191917;
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: -2;
	&>img {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}
}
.main-block {
	display: flex;
	position: absolute;
	flex-flow: column wrap;
	justify-content: space-around;
}
.logo {
	width: relate(184, 54, true);
	& img {
		width: 100%;
		height: 100%;
	}
}
.text-block {
	margin: 20px 0;
}
.heading {
	font-size: relate(149, 32, true);
	font-family: Roboto;
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: 900;
	color: #151515;
	margin-bottom: 0.5em;
}
.paragraph {
	font-size: relate(43, 20, true);
	font-family: Poppins;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: #151515;
}
.media {
	display: flex;
}
.icon {
	width: relate(58, 26, true);
	filter: invert(1);
	transition: 0.3s ease;
	&:not(&:last-child) {
		margin-right: 15px;
	}
	&:hover {
		filter: none;
	}
	&>img {
		width: 100%;
		height: 100%;
	}
}
.discount-block {
	width: relate(487, 160, true);
	height: relate(487, 160, true);
	background: url("../img/discount_bg.png") 0 0/cover no-repeat;
	position: absolute;
}
.discount {
	font-size: relate(45, 22, true);
	font-family: Roboto;
	font-weight: 500;
	line-height: 1.1;
	color: #151515;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	& span {
		font-size: relate(87, 26, true);
		font-weight: 700;
	}
}

//scroll tip
@keyframes bounce {
	0% {
		transform: translate(-50%, 0%);
	}

	50% {
		transform: translate(-50%, -50%);
	}

	74% {
		transform: translate(-50%, -0%);
	}

	84% {
		transform: translate(-50%, -10%);
	}

	92% {
		transform: translate(-50%, 0);
	}

	96% {
		transform: translate(-50%, -3%);
	}

	100% {
		transform: translate(-50%, 0%);
	}
}
.scroll-tip {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: relate(155, 45, true);
	height: relate(155, 45, true);

	transition-property: visibility, opacity;
	visibility: hidden;
	opacity: 0;
	transition: ease 0.5s;
	&.active {
		visibility: visible;
		opacity: 1;
		animation: bounce 1s 1 normal 5s;
	}
	&>p {
		position: absolute;
		top: -1.4em;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		white-space: nowrap;

		text-shadow: #000 0 0 2px;
		font-size: relate(28, 14, true);
		font-family: Poppins;
		font-weight: 500;
		letter-spacing: 0.01em;
	}
}
.scroll-bg {
	width: 100%;
	height: 100%;
	&:before {
		content: "";
		background: url('../img/scroll_tip_bg.svg') 0 0 / contain no-repeat;
		filter: invert(55%) opacity(0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}
.scroll-icon {
	background: url('../img/mouse_scroll.svg') 0 0 / contain no-repeat;
	filter: opacity(0.8);
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -65%);
}


/* section1 */
.section1__block1 {
	width: relate(1407, 320, true);
	height: relate(1572, 300, true);
	padding-top: relate(70, 30, true);
	padding-right: relate(610 , 30, true);
	padding-bottom: relate(500 , 30, true);
	padding-left: relate(90 , 30, true);

	background: url("../img/bg_shape1.png") 0 0/cover no-repeat;
	left: 0;
}
.section1__block2 {
	right: 2%;
	bottom: 50%;
}

/* section2 */
.section2__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: end;
	text-align: right;

	width: relate(1200, 320, true);
	height: relate(1700, 300, true);
	padding-top: relate(252, 30, true);
	padding-right: relate(77 , 30, true);
	padding-bottom: relate(500 , 30, true);
	padding-left: relate(410 , 30, true);

	background: url("../img/bg_shape2.png") 0 0/cover no-repeat;
	right: 0;
}
.section2__block2 {
	right: 35%;
	bottom: 2%;
}

/* section3 */
.section3__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

	width: relate(1887, 320, true);
	height: relate(1144, 300, true);
	padding-top: relate(190, 50, true);
	padding-right: relate(500 ,25, true);
	padding-bottom: relate(100 , 50, true);
	padding-left: relate(700 , 250, true);

	background: url("../img/bg_shape3.png") 0 0/cover no-repeat;
	bottom: 0;
	right: 0;
}
.section3__block2 {
	right: 2%;
	top: 2%;
}

/* section4 */
.section4__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

	width: relate(1759, 320, true);
	height: relate(1290, 300, true);
	padding-top: relate(50, 30, true);
	padding-right: relate(550 ,100, true);
	padding-bottom: relate(300 , 50, true);
	padding-left: relate(440 , 30, true);

	background: url("../img/bg_shape4.png") 0 0/cover no-repeat;
	top: 0;
	right: 0;
}
.section4__block2 {
	left: 2%;
	top: 55%;
}

/* section5 */
.section5__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: end;
	text-align: right;

	width: relate(1200, 340, true);
	height: relate(1400, 320, true);
	padding-top: relate(200, 50, true);
	padding-right: relate(70 , 30, true);
	padding-bottom: relate(150 , 50, true);
	padding-left: relate(400 , 30, true);

	background: url("../img/bg_shape5.png") 0 0/cover no-repeat;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.section5__block2 {
	left: 2%;
	bottom: 40%;
}

/* section6 */
.section6__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

	width: relate(1849, 340, true);
	height: relate(1254, 320, true);
	padding-top: relate(300, 50, true);
	padding-right: relate(800 , 30, true);
	padding-bottom: relate(80 , 50, true);
	padding-left: relate(500 , 30, true);

	background: url("../img/bg_shape6.png") 0 0/cover no-repeat;
	left: 0;
	bottom: 0;
}
.section6__block2 {
	top: 5%;
	right: 5%;
}

/* section7 */
.section7__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

	width: relate(1726, 340, true);
	height: relate(1235, 320, true);
	padding-top: relate(90, 50, true);
	padding-right: relate(350 , 30, true);
	padding-bottom: relate(350 , 50, true);
	padding-left: relate(700 , 30, true);

	background: url("../img/bg_shape7.png") 0 0/cover no-repeat;
	right: 0;
	top: 0;
}
.section7__block2 {
	top: 3%;
	left: 3%;
}

/* section8 */
.section8__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

	width: relate(1200, 320, true);
	height: relate(1200, 380, true);
	padding-top: relate(50, 50, true);
	padding-right: relate(220 , 30, true);
	padding-bottom: relate(300 , 50, true);
	padding-left: relate(290 , 30, true);

	background: url("../img/bg_shape8.png") 0 0/cover no-repeat;
	left: 2%;
	top: 0;
}
.section8__block2 {
	bottom: 5%;
	right: 3%;
}

/* section9 */
.section9__block1 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;

	width: relate(1285, 320, true);
	height: relate(1200, 380, true);
	padding-top: relate(200, 50, true);
	padding-right: relate(250 , 30, true);
	padding-bottom: relate(80 , 50, true);
	padding-left: relate(250 , 30, true);

	background: url("../img/bg_shape9.png") 0 0/cover no-repeat;
	right: 0;
	bottom: 0;
}
.section9__block2 {
	top: 5%;
	left: 3%;
}

/* media */
@media (max-height: 600px) and (max-width: 1024px) and (min-aspect-ratio: 1001/1000) {
	.section1__block1 {
		padding: 2% 10% 20% 3%;
	}


	.section2__block1 {
		width: relate(1150, 330, true);
		padding: 7% 3% 20% 5%;
	}
	.section2__block2 {
		left: 3%;
	}


	.section3__block1 {
		width: relate(1900, 400, true);
		padding: 15% 7% 9% 24%;
	}
	.section3__block2 {
		left: 2%;
	}


	.section4__block1 {
		width: relate(1800, 270, true);
		padding: 2.5% 3% 12% 7%;
	}


	.section6__block1 {
		width: 98%;
		height: auto;
		padding: 10% 29% 3% 10%;
	}
	.section6__block2 {
		top: 1%;
		right: 1%;
	}
	

	.section7__block1 {
		width: relate(1800, 320, true);
		height: relate(1250, 300, true);
		padding: 6.5% 2% 15% 23%;
	}


	.section8__block1 {
		width: relate(1300, 350, true);
		height: relate(1200, 300, true);
		left: -10%;
		padding: 8% 5% 15% 10%;
	}
	.section8__block2 {
		top: 2%;
	}

	.section9__block1 {
		width: relate(1300, 350, true);
		height: relate(1200, 300, true);
		right: -10%;
		padding: 15% 10% 10% 3%;
	}
}
@media (max-width: 1024px) and (max-aspect-ratio: 999/1000) {
	.section1__block1 {
		width: 100%;
		height: relate(1700, 450, true);
		padding: 10% 30% 45% 5%;
	}
	.section1__text-block {
		margin-bottom: 35px;
	}
	.section1__block2 {
		top: 60%;
	}


	.section2__block1 {
		width: 90%;
		height: relate(1700, 450, true);
		padding: 15% 5% 40% 25%;
	}
	.section2__text-block {
		margin-bottom: 35px;
	}


	.section3__block1 {
		width: 120%;
		left: -20%;
		padding: 10% 5% 2% 43%;
	}


	.section4__block1 {
		width: 100%;
		padding: 2% 5% 15% 12%;
	}
	.section4__block2 {
		left: 2%;
		top: 65%;
	}


	.section5__block1 {
		width: 85%;
		padding: 7% 5% 10% 20%;
	}
	.section5__block2 {
		top: 1%;
	}


	.section7__block1 {
		align-items: end;
		text-align: right;
		width: 105%;
		height: auto;
		padding: 5% 5% 25% 40%;
	}
	.section7__block2 {
		top: 65%;
	}


}
@media (max-width: 767px) and (max-aspect-ratio: 999/1000) {
	.section1__block1 {
		width: 120%;
	}


	.section2__block1 {
		width: 100%;
		padding: 15% 5% 45% 13%;
	}


	.section3__block1 {
		width: 155%;
		left: -55%;
		height: relate(1450, 350, true);
		padding: 10% 5% 2% 65%;
	}


	.section4__block1 {
		height: relate(1400, 350, true);
		padding: 3% 5% 18% 22%;
	}


	.section5__block1 {
		width: 95%;
		height: relate(1200, 400, true);
		padding: 15% 5% 15% 20%;
	}


	.section6__block1 {
		height: relate(1200, 340, true);
		padding-top: 27%;
	}


	.section7__block1 {
		width: 130%;
		padding: 5% 5% 35% 51%;
	}


	.section8__block1 {
		width: 120%;
		left: -15%;
		padding: 5% 15% 25% 25%;
	}


	.section9__block1 {
		padding: 15% 10% 10% 20%;
	}
}


@media (hover:none) {
	.scroll-icon {
		background: url('../img/swipe_scroll.svg') 0 0 / contain no-repeat;
	}
}